@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #3d3d3d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Fira Sans Condensed", sans-serif;
  color: #1C1C1C;
}

a {
  text-decoration: none;
}

@media (max-width: 1150px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
.cursor-pointer {
  cursor: pointer;
}

.container {
  max-width: 1600px;
}

.trans {
  transition: 0.3s;
}

.btn {
  border-radius: 6px;
}

.font-fira-sans {
  font-family: Fira Sans, serif;
}

.navbar {
  width: 100%;
  position: fixed;
  height: 6.4375rem;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.3s;
}
.navbar.active {
  background: #fff;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 1;
  margin-top: 6.4375rem;
  padding-top: 15px;
  padding-bottom: 15px;
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.3s ease-out;
}
.mobile-menu.active {
  opacity: 1;
  transform: translateY(0);
}

.btn-gradient {
  background: linear-gradient(98.3deg, rgb(209, 82, 192) 23.229%, rgb(106, 108, 222) 53.227%);
  color: #fff;
  background-size: 130%;
  transition: 0.3s;
  padding: 0.8125rem 1.5rem 0.8125rem 1.5rem;
  text-transform: uppercase;
}
.btn-gradient:hover {
  color: #fff;
  background-size: 190%;
}

.btn-black {
  text-transform: uppercase;
  color: #fff;
  background: rgb(28, 28, 28);
  transition: 0.3s;
  padding: 0.8125rem 1.5rem 0.8125rem 1.5rem;
}
.btn-black:hover {
  color: #fff;
  background: rgb(40, 40, 40);
}

header {
  width: 100%;
  background: url("../images/header-bg.png") no-repeat center top;
  background-size: 3476px auto;
  padding-bottom: 35rem;
  position: relative;
}
@media (max-width: 768px) {
  header {
    background: url(../images/header-mobile.svg) no-repeat 170% -3rem;
    background-size: 40rem;
  }
}
@media (max-width: 576px) {
  header {
    background: url(../images/header-mobile.svg) no-repeat 45% 213%;
    background-size: 50rem;
  }
}
@media (max-width: 768px) {
  header .container {
    height: calc(100% - 150px);
    position: relative;
  }
}
@media (max-width: 768px) {
  header .header-image {
    transform: scaleX(-1);
    position: absolute;
    bottom: -21rem;
  }
}
@media (max-width: 576px) {
  header .header-image {
    bottom: -20rem;
  }
}

.text-gradient {
  background: linear-gradient(98.3deg, rgb(209, 82, 192), rgb(106, 108, 222));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 5rem;
  font-weight: 600;
}

.sale {
  width: 100%;
  height: 15rem;
  background: rgb(255, 255, 255);
  color: rgb(28, 28, 28);
  font-family: "Fira Sans", sans-serif;
  position: absolute;
  bottom: 14rem;
}
@media (max-width: 992px) {
  .sale {
    height: 87px;
    margin-top: 0;
    margin-bottom: 0;
    background: transparent;
    bottom: 6rem;
  }
}
@media (max-width: 576px) {
  .sale {
    bottom: 6rem;
  }
}
.sale-blackBg {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  background: rgba(28, 28, 28, 0.96);
  color: #fff;
  margin-right: 3.9375rem;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 11.25rem;
  font-size: 2.125rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .sale-blackBg {
    display: none;
  }
}
.sale-blackBg:before {
  content: "";
  position: absolute;
  left: 0;
}
@media (max-width: 992px) {
  .sale .container {
    padding: 0;
  }
}
.sale-percent {
  color: rgb(255, 255, 255) !important;
  font-size: 2.125rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 38%;
  background-color: #252525;
  min-height: 15rem;
  margin-right: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  position: relative;
}
@media (max-width: 1230px) {
  .sale-percent {
    min-width: 21.875rem;
  }
}
@media (max-width: 992px) {
  .sale-percent {
    width: 100%;
    margin-right: 0;
    font-size: 1.25rem;
    padding-left: 15px;
    min-height: 87px;
  }
}
.sale-percent-ellipse {
  position: absolute;
  left: -21.875rem;
  top: -9.375rem;
}
.sale-text {
  color: rgb(28, 28, 28);
  font-family: Fira Sans, serif;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 2.6875rem;
  max-width: 50.125rem;
}

.the-reason-was {
  margin-top: -7.5rem;
}

.how-working .overflow-y-auto {
  overflow-y: unset !important;
}
@media (max-width: 992px) {
  .how-working .overflow-y-auto {
    overflow-y: auto !important;
  }
}
.how-working .overflow-y-auto::-webkit-scrollbar {
  height: 0;
}
@media (min-width: 992px) {
  .how-working-famousArtist {
    margin-top: -9.875rem;
  }
}
@media (max-width: 992px) {
  .how-working-famousArtist {
    min-width: 180%;
  }
}

.about-us {
  background: rgba(28, 28, 28, 0.96);
  width: 100%;
  margin-top: 5rem;
  padding: 2.9375rem 0;
}
.about-us-blur {
  position: absolute;
  right: -38.75rem;
  top: -28.125rem;
  z-index: -1;
}
.about-us-ellipse {
  position: absolute;
  right: -25.625rem;
  bottom: -21.25rem;
  width: 31.125rem;
  height: 31.125rem;
}

.online-texts {
  margin-right: -3.125rem;
}

.selection-process .container {
  position: relative;
}
.selection-process-fon {
  position: absolute;
  top: 5rem;
  width: calc(100% + 18.75rem);
  left: -9.375rem;
}
@media (max-width: 768px) {
  .selection-process-fon {
    width: calc(100% + 30rem);
    left: -15rem;
    top: 26rem;
    transform: scale(8);
    z-index: -1;
  }
}
.selection-process-item {
  border-radius: 12px;
  padding: 1.875rem;
  background: rgb(255, 255, 255);
  position: relative;
  height: 10.5625rem;
}
@media (max-width: 768px) {
  .selection-process-item {
    padding: 1.8rem 1.275rem 1.275rem;
    height: 12.5625rem;
  }
}
.selection-process-item-count {
  color: rgb(28, 28, 28);
  font-size: 7.5rem;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  right: 2.5rem;
  top: -5.625rem;
}
@media (max-width: 768px) {
  .selection-process-item-count {
    font-size: 5rem;
    top: -4rem;
  }
}

.slider-item {
  box-sizing: border-box;
  border: 2px solid rgb(231, 171, 225);
  border-radius: 12px;
  background: rgb(255, 255, 255);
  padding: 2.1875rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 992px) {
  .slider-item {
    flex-direction: column;
    padding: 1.1875rem;
  }
}
.slider-item-title {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  height: 20.75rem;
  margin-right: 3.75rem;
  padding-top: 1.25rem;
}
@media (max-width: 992px) {
  .slider-item-title {
    height: 3.75rem;
    padding-top: 1rem;
  }
}
.slider-item-title-pagination {
  color: rgb(28, 28, 28);
  font-size: 3.4375rem;
  font-weight: 400;
  line-height: 3.40625rem;
}
@media (max-width: 992px) {
  .slider-item-title-pagination {
    font-size: 1.875rem;
  }
}
.slider-item-slide {
  width: calc(100% - 28.125rem);
  height: 20.75rem;
}
@media (max-width: 992px) {
  .slider-item-slide {
    width: 100%;
    height: auto;
  }
}
.slider-item-slide-texts-item {
  color: rgb(28, 28, 28);
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.40625rem;
  height: 14.375rem;
}
@media (max-width: 768px) {
  .slider-item-slide-texts-item {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}
.slider-item-slide .slick-dots {
  display: none !important;
}
.slider-item-slide .btn-outline-dark {
  width: 3.4375rem;
  height: 3.4375rem;
}
@media (max-width: 768px) {
  .slider-item-slide .btn-outline-dark {
    width: 35px;
    height: 35px;
  }
}
.slider-item-slide .btn-outline-dark span {
  position: relative;
  top: 3px;
  font-size: 1.875rem;
}
@media (max-width: 768px) {
  .slider-item-slide .btn-outline-dark span {
    top: 2px;
    font-size: 18px;
    left: -2px;
  }
}
.slider-item-slide .btn-outline-dark:hover span {
  color: #fff !important;
}

footer {
  background: #1C1C1C;
  margin-top: 6.4375rem;
  min-height: 11.0625rem;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}
footer:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(177.3px);
  background: linear-gradient(98.3deg, rgb(209, 82, 192) 23.062%, rgb(106, 108, 222) 53.216%);
  z-index: -1;
}
footer .soc-site {
  width: 3.4375rem;
  height: 3.4375rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu-board {
  width: 30px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 1.4375rem;
  cursor: pointer;
}
@media (max-width: 992px) {
  .mobile-menu-board {
    display: flex;
  }
}
.mobile-menu-board.active span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 10px;
}
.mobile-menu-board.active span:nth-of-type(2) {
  opacity: 0;
}
.mobile-menu-board.active span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: -10px;
}
.mobile-menu-board span {
  transition: 0.3s;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  margin-bottom: 8px;
  background-color: #1C1C1C;
  position: relative;
}
.mobile-menu-board span:last-child {
  margin: 0;
}
.mobile-menu-board span:nth-of-type(1) {
  transform: rotate(0);
  top: 0;
}
.mobile-menu-board span:nth-of-type(2) {
  opacity: 1;
}
.mobile-menu-board span:nth-of-type(3) {
  transform: rotate(0);
  top: 0;
}

/*# sourceMappingURL=style.css.map */
